/** biome-ignore-all lint/suspicious/noDuplicateProperties: disabled for incorrect warning for dark variant */
@import "tailwindcss";
@import "./theme.css" layer(theme);

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@layer base {
  :root {
    font-family: var(--font-sans);
  }
  body {
    background-color: var(--color-surface);

    @variant dark {
      background-color: var(--color-dark-surface-container-lowest);
    }
  }
  button {
    @apply cursor-pointer;
  }
}
