/** biome-ignore-all lint/suspicious/noDuplicateProperties: disabled for incorrect warning for dark variant */
@import "tailwindcss";
@import "./theme.css" layer(theme);
@import "./meterial.css" layer(meterial);

@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

@layer base {
  :root {
    font-family: var(--font-sans);
  }
  body {
    background-color: var(--color-background);

    @variant dark {
      background-color: var(--color-dark-background);
    }
  }
  button {
    @apply cursor-pointer;
  }
}
