@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@theme inline {
	--font-sans:
		Inter, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

	--breakpoint-*: initial;
	--breakpoint-sm: 23.4375rem; /* 375px */
	--breakpoint-md: 48rem; /* 768px */
	--breakpoint-lg: 64rem; /* 1024px */
	--breakpoint-xl: 90rem; /* 1440px */
	--breakpoint-2xl: 120rem; /* 1920px */

	--color-black: #000000;
	--color-white: #ffffff;

	--color-primary-0: var(--color-black);
	--color-primary-10: #001c39;
	--color-primary-20: #00315d;
	--color-primary-30: #004883;
	--color-primary-40: #0060ac;
	--color-primary-50: #2d79c9;
	--color-primary-60: #4d93e5;
	--color-primary-70: #6eaeff;
	--color-primary-80: #a4c9ff;
	--color-primary-90: #d4e3ff;
	--color-primary-95: #ebf1ff;
	--color-primary-98: #f8f9ff;
	--color-primary-100: var(--color-white);

	--color-secondary-0: var(--color-black);
	--color-secondary-10: #241a00;
	--color-secondary-20: #3c2f00;
	--color-secondary-30: #574500;
	--color-secondary-40: #735c00;
	--color-secondary-50: #917400;
	--color-secondary-60: #af8d11;
	--color-secondary-70: #cca730;
	--color-secondary-80: #e9c349;
	--color-secondary-90: #ffe088;
	--color-secondary-95: #ffefcc;
	--color-secondary-98: #fff8f0;
	--color-secondary-100: var(--color-white);

	--color-tertiary-0: var(--color-black);
	--color-tertiary-10: #321200;
	--color-tertiary-20: #532200;
	--color-tertiary-30: #753401;
	--color-tertiary-40: #934b19;
	--color-tertiary-50: #b1632f;
	--color-tertiary-60: #d07b46;
	--color-tertiary-70: #f0955d;
	--color-tertiary-80: #ffb68c;
	--color-tertiary-90: #ffdbc9;
	--color-tertiary-95: #ffede5;
	--color-tertiary-98: #fff8f5;
	--color-tertiary-100: var(--color-white);

	--color-error-0: var(--color-black);
	--color-error-10: #410006;
	--color-error-20: #68000f;
	--color-error-30: #930019;
	--color-error-40: #bc1127;
	--color-error-50: #e0313c;
	--color-error-60: #ff5357;
	--color-error-70: #ff8985;
	--color-error-80: #ffb3af;
	--color-error-90: #ffdad8;
	--color-error-95: #ffedeb;
	--color-error-98: #fff8f7;
	--color-error-100: var(--color-white);

	--color-neutral-*: initial;
	--color-neutral-0: var(--color-black);
	--color-neutral-10: #1a1c1e;
	--color-neutral-20: #2f3033;
	--color-neutral-30: #46474a;
	--color-neutral-40: #5d5e62;
	--color-neutral-50: #76777a;
	--color-neutral-60: #909094;
	--color-neutral-70: #ababae;
	--color-neutral-80: #c6c6ca;
	--color-neutral-90: #e3e2e6;
	--color-neutral-95: #f1f0f4;
	--color-neutral-98: #faf9fd;
	--color-neutral-100: var(--color-white);

	--color-neutral-variant-0: var(--color-black);
	--color-neutral-variant-10: #181c22;
	--color-neutral-variant-20: #2d3137;
	--color-neutral-variant-30: #43474e;
	--color-neutral-variant-40: #5b5e66;
	--color-neutral-variant-50: #73777f;
	--color-neutral-variant-60: #8d9199;
	--color-neutral-variant-70: #a8abb4;
	--color-neutral-variant-80: #c3c6cf;
	--color-neutral-variant-90: #dfe2eb;
	--color-neutral-variant-95: #eef0fa;
	--color-neutral-variant-98: #f8f9ff;
	--color-neutral-variant-100: var(--color-white);

	/* Utility, variant dependant colors */
	--color-primary: #3b608f; /* var(--color-primary-40) */
	--color-on-primary: var(--color-primary-100);
	--color-primary-container: var(--color-primary-90);
	--color-on-primary-container: #204876; /* var(--color-primary-10) */

	--color-secondary: #725c0c; /* var(--color-secondary-40) */
	--color-on-secondary: var(--color-secondary-100);
	--color-secondary-container: var(--color-secondary-90);
	--color-on-secondary-container: #574500; /* var(--color-secondary-10) */

	--color-tertiary: #8c4f27; /* var(--color-tertiary-40) */
	--color-on-tertiary: var(--color-tertiary-100);
	--color-tertiary-container: var(--color-tertiary-90);
	--color-on-tertiary-container: #6f3812; /* var(--color-tertiary-10) */

	--color-error: #904a48; /* var(--color-error-40) */
	--color-on-error: var(--color-error-100);
	--color-error-container: var(--color-error-90);
	--color-on-error-container: #733332; /* var(--color-error-10) */

	--color-background: var(--color-surface);
	--color-on-background: var(--color-on-surface);
	--color-surface: #f8f9ff; /* var(--color-neutral-98) */
	--color-on-surface: #191c20; /* var(--color-neutral-10) */
	--color-surface-variant: var(--color-neutral-variant-90);
	--color-on-surface-variant: var(--color-neutral-variant-30);

	--color-outline: var(--color-neutral-variant-50);
	--color-outline-variant: var(--color-neutral-variant-80);

	--color-shadow: var(--color-neutral-0);
	--color-scrim: var(--color-neutral-0);

	--color-inverse-surface: #2e3035; /* var(--color-neutral-20) */
	--color-inverse-on-surface: #eff0f7; /* var(--color-neutral-95) */
	--color-inverse-primary: #a4c9fe; /* var(--color-primary-80) */

	--color-primary-fixed: var(--color-primary-90);
	--color-on-primary-fixed: var(--color-primary-10);
	--color-primary-fixed-dim: #a4c9fe; /* var(--color-primary-80) */
	--color-on-primary-fixed-variant: #204876; /* var(--color-primary-30) */

	--color-secondary-fixed: var(--color-secondary-90);
	--color-on-secondary-fixed: var(--color-secondary-10);
	--color-secondary-fixed-dim: #e2c46d; /* var(--color-secondary-80) */
	--color-on-secondary-fixed-variant: var(--color-secondary-30);

	--color-tertiary-fixed: var(--color-tertiary-90);
	--color-on-tertiary-fixed: var(--color-tertiary-10);
	--color-tertiary-fixed-dim: var(--color-tertiary-80);
	--color-on-tertiary-fixed-variant: #6f3812; /* var(--color-tertiary-30) */

	--color-surface-tint: var(--color-primary);
	--color-surface-dim: #d9dae0; /* var(--color-neutral-87) */
	--color-surface-bright: #f8f9ff; /* var(--color-neutral-98) */
	--color-surface-container-lowest: var(--color-neutral-100);
	--color-surface-container-low: #f2f3fa; /* var(--color-neutral-96) */
	--color-surface-container: #ededf4; /* var(--color-neutral-94) */
	--color-surface-container-high: #e7e8ee; /* var(--color-neutral-92) */
	--color-surface-container-highest: #e1e2e9; /* var(--color-neutral-90) */

	/* Utility, variant dependant colors (dark) */

	--color-dark-primary: #a4c9fe; /* var(--color-primary-80) */
	--color-dark-on-primary: var(--color-primary-20);
	--color-dark-primary-container: #204876; /* var(--color-primary-30) */
	--color-dark-on-primary-container: var(--color-primary-90);

	--color-dark-secondary: #e2c46d; /* var(--color-secondary-80) */
	--color-dark-on-secondary: var(--color-secondary-20);
	--color-dark-secondary-container: var(--color-secondary-30);
	--color-dark-on-secondary-container: var(--color-secondary-90);

	--color-dark-tertiary: var(--color-tertiary-80);
	--color-dark-on-tertiary: var(--color-tertiary-20);
	--color-dark-tertiary-container: #6f3812; /* var(--color-tertiary-30) */
	--color-dark-on-tertiary-container: var(--color-tertiary-90);

	--color-dark-error: var(--color-error-80);
	--color-dark-on-error: #571d1d; /* var(--color-error-20) */
	--color-dark-error-container: #733332; /* var(--color-error-30) */
	--color-dark-on-error-container: var(--color-error-90);

	--color-dark-background: var(--color-surface);
	--color-dark-on-background: var(--color-on-surface);
	--color-dark-surface: #111318; /* var(--color-neutral-6) */
	--color-dark-on-surface: #e1e2e9; /* var(--color-neutral-90) */
	--color-dark-surface-variant: var(--color-neutral-variant-30);
	--color-dark-on-surface-variant: var(--color-neutral-variant-80);

	--color-dark-outline: var(--color-neutral-variant-60);
	--color-dark-outline-variant: var(--color-neutral-variant-30);

	--color-dark-shadow: var(--color-neutral-0);
	--color-dark-scrim: var(--color-neutral-0);

	--color-dark-inverse-surface: #e1e2e9; /* var(--color-neutral-90) */
	--color-dark-inverse-on-surface: #2e3035; /* var(--color-neutral-20) */
	--color-dark-inverse-primary: #3b608f; /* var(--color-primary-40) */

	--color-dark-primary-fixed: var(--color-primary-90);
	--color-dark-on-primary-fixed: var(--color-primary-10);
	--color-dark-primary-fixed-dim: #a4c9fe; /* var(--color-primary-80) */
	--color-dark-on-primary-fixed-variant: #204876; /* var(--color-primary-30) */

	--color-dark-secondary-fixed: var(--color-secondary-90);
	--color-dark-on-secondary-fixed: var(--color-secondary-10);
	--color-dark-secondary-fixed-dim: #e2c46d; /* var(--color-secondary-80) */
	--color-dark-on-secondary-fixed-variant: var(--color-secondary-30);

	--color-dark-tertiary-fixed: var(--color-tertiary-90);
	--color-dark-on-tertiary-fixed: var(--color-tertiary-10);
	--color-dark-tertiary-fixed-dim: var(--color-tertiary-80);
	--color-dark-on-tertiary-fixed-variant: #6f3812; /* var(--color-tertiary-30) */

	--color-dark-surface-tint: var(--color-primary);
	--color-dark-surface-dim: #111318; /* var(--color-neutral-6) */
	--color-dark-surface-bright: #37393e; /* var(--color-neutral-24) */
	--color-dark-surface-container-lowest: #0c0e13; /* var(--color-neutral-4) */
	--color-dark-surface-container-low: #191c20; /* var(--color-neutral-10) */
	--color-dark-surface-container: #1d2024; /* var(--color-neutral-12) */
	--color-dark-surface-container-high: #272a2f; /* var(--color-neutral-17) */
	--color-dark-surface-container-highest: #32353a; /* var(--color-neutral-22) */
}
